.div1{
    margin:auto;
    width: 1222px;
    background:black;
    height:40px;
}
.heart{
font-size:25px;
color:red;
margin-left:10px;
}
.line1{
    color:white;
    font-family:Sans-serif;
}
.line2{
    word-spacing: 30px;
    color:gainsboro;
    margin-left: 70px;
    font-family:Sans-serif;
}
#search {
    margin:auto;
    width: 300px;
    height:27px;
    background:white;
    border-radius:2px;
    margin-top:-25px;
    margin-left:880px;
}
.line3{
    margin: auto;
    font-family:sans-serif;
    font-size: 15px;
}
.div2{
    margin:auto;
    width: 1220px;
    background:rgba(0, 0, 0, 0.897);
    height:350px;
    padding: 1px;
}
.line4{
    margin: auto;
    font-family:sans-serif;
    position:absolute;
    font-size: 35px;
    color:white;
   display:block;
  margin-top: 40px;
  margin-left: 250px;
}
.box1{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 80px;
    margin-top: -100px;
}
.best{
    width:340px;
    height:250px;
}
.box2{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 370px;
    margin-top: -300px;
}
.box3{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 370px;
    margin-top: -300px;
}
.line5{
    margin: auto;
    font-family:sans-serif;
    position:absolute;
    font-size: 15px;
    color:white;
   display:block;
  margin-top: 90px;
  margin-left: 370px;
}
.topic{
    font-family: sans-serif;
}
.box4{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: -370px;
    margin-top: 40px;
}
.box5{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 370px;
    margin-top: -300px;
}
.box6{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 370px;
    margin-top: -300px;
}
.box7{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: -740px;
    margin-top: 40px;
}
.box8{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 370px;
    margin-top: -300px;
}
.box9{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 370px;
    margin-top: -300px;
}
.box10{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: -740px;
    margin-top: 60px;
}
.box11{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 370px;
    margin-top: -300px;
}
.box12{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: -1px;
    margin-top: -1px;
}
.box13{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 380px;
    margin-top: -300px;
}
.box14{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: 380px;
    margin-top: -300px;
}
.box15{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: -1px;
    margin-top: 50px;
}
.box16{
    margin:auto;
    width: 340px;
    background:white;
    height:320px;
    margin-left: -1px;
    margin-top: 50px;
}
.image {
    position: absolute;
    top:350px; 
    left: 50px; 
}
.image img {
    display: block;
}
.insert{
width: 1222px; 
height: 6900px; 
margin-top: -20px;
margin-left:56px; 
background-color:lightgray;
}
